<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="POST" action="/listings/new">
        <input type="text" placeholder="enter title" name="title">
        <textarea type="text" placeholder="enter description" name="description"></textarea>
        <input type="text" placeholder="enter url/Link" name="image">
        <input type="text" placeholder="enter price" name="price">
        <input type="text" placeholder="enter country" name="country">
        <input type="text" placeholder="enter location" name="location">
    </form>
</body>
</html>