
.body{
    margin-left: 20px;
}
.chatbox{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}
.msg{
    background-color: dodgerblue;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 16px;
}